annotated-types==0.6.0
attrs==23.2.0
blinker==1.7.0
Brotli==1.1.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
google-api-core==2.15.0
google-api-python-client==2.112.0
google-auth==2.26.1
google-auth-httplib2==0.2.0
googleapis-common-protos==1.62.0
grpcio==1.60.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httplib2==0.22.0
hyperframe==6.0.1
idna==3.6
kaitaistruct==0.10
outcome==1.3.0.post0
packaging==23.2
protobuf==4.25.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
pyOpenSSL==23.3.0
pyparsing==3.1.1
PySocks==1.7.1
python-dotenv==1.0.0
requests==2.31.0
rsa==4.9
selenium==4.16.0
selenium-wire==5.1.0
setuptools==69.0.3
sniffio==1.3.0
sortedcontainers==2.4.0
trio==0.23.2
trio-websocket==0.11.1
typing_extensions==4.9.0
uritemplate==4.1.1
urllib3==2.1.0
webscrapper_proto @ git+https://github.com/roxyash/webscrapper_proto.git@7d4022356fc0e4aafc6944f15350828bbf9e67f6
wsproto==1.2.0
zstandard==0.22.0
git+https://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@github.com/roxyash/webscrapper_proto.git
